<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience"
  *ngIf="(profile$ | async)?.experience as experienceArray">
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
      *ngFor="let experience of experienceArray">
      <div class="resume-content">
        <h3 class="mb-0">{{ experience.position }}</h3>
        <div class="subheading mb-3">{{ experience.place }}</div>
        <p *ngFor="let detail of experience.details">{{ detail }}</p>
      </div>
      <div class="resume-date text-md-right" *ngIf="experience.since;then experience_sinte_to else experience_to"></div>
      <ng-template #experience_sinte_to><span class="text-primary">{{ experience.since }} - {{ experience.to }}</span>
      </ng-template>
      <ng-template #experience_to><span class="text-primary">{{ experience.to }}</span></ng-template>
    </div>
  </div>
</section>
